@import "tailwindcss";

@theme {
  --color-brown-primary: #937a68;
  --color-brown-dark: #665548;
}

@layer utilities {
  .bg-brown-primary {
    background-color: #937a68;
  }
  .bg-brown-dark {
    background-color: #665548;
  }
  .text-brown-primary {
    color: #937a68;
  }
  .text-brown-dark {
    color: #665548;
  }
  .border-brown-primary {
    border-color: #937a68;
  }
  .border-brown-dark {
    border-color: #665548;
  }
  .ring-brown-primary {
    --tw-ring-color: #937a68;
  }
  .ring-brown-dark {
    --tw-ring-color: #665548;
  }
  .hover\:bg-brown-primary:hover {
    background-color: #937a68;
  }
  .hover\:bg-brown-dark:hover {
    background-color: #665548;
  }
  .hover\:text-brown-primary:hover {
    color: #937a68;
  }
  .focus\:ring-brown-primary:focus {
    --tw-ring-color: #937a68;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
